<div *ngIf="currentHero$ | async as currentHero">
  <h2>{{ currentHero.name }}</h2>
  <label>
    Name:
    <input [(ngModel)]="updatedHero.name">
  </label>
  <br>
  <label>
    Gender:
    <input type="checkbox" [(ngModel)]="updatedHero.gender">
  </label>
  <br>
  <label>
    Email:
    <input [(ngModel)]="updatedHero.mail">
  </label>
  <br>
  <label>
    Age:
    <input type="number" [(ngModel)]="updatedHero.age">
  </label>
  <br>
  <label>
    Address:
    <input [(ngModel)]="updatedHero.address">
  </label>
  <br>
  <button (click)="updateHero()">Save</button>
</div>
