<div *ngIf="user">
  <div class="w-100 row">
    <div class="col-4 card p-4 ">
      <div class=" image d-flex flex-column justify-content-center align-items-center">
        <button class="btn btn-warning">
          <img src="https://cdn-icons-png.flaticon.com/512/9341/9341516.png" height="100" width="100"/>
        </button>
        <span class="name mt-3">{{user.name}}</span>
        <span class="idd">{{user.email}}</span>
        <div class="d-flex flex-row justify-content-center align-items-center gap-2">
          <span
            class="idd1">ID:{{user._id}}</span>
        </div>

        <div *ngIf="isMyProfile" class=" d-flex mt-2">
          <button class="btn1 btn-dark">Edit Profile</button>
        </div>
        <div class=" px-2 rounded mt-4 date ">
          <span class="join">Joined {{user.createdAt | date }}</span>
        </div>
      </div>
    </div>
    <div class="col-8">
      Hero:
      <div class="row">
        <div class="col-4" *ngFor="let hero of heroes">
          <app-hero-card [hero]="hero"></app-hero-card>
        </div>
      </div>
    </div>
  </div>
</div>
